body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: white;
}

.commentary {
    text-align: center;
    margin: 20px;
}
.main-wrapper {
    margin: auto;
    width: 60%;
    border: 3px solid #73ad21;
    padding: 10px;
    border-radius: 5%;
}

.square {
    border: 1px solid black;
    line-height: 1px;
    height: 48px;
    width: 48px;
    padding: 0;
}

.square:focus {
    outline: thick;
}

.game {
    /* make all rows the same length */
    display: flex;
    flex-direction: row;
}

.game-wrapper {
    width: 100%;
}

.dark-square {
    background-color: RGB(87, 190, 100);
}

.light-square {
    background-color: RGB(234, 240, 206);
}

h3,
h2,
h4 {
    margin-bottom: 5px;
    text-align: center;
}
